.home::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  max-height: 48.5rem;
  min-height: 48.5rem;
  background: radial-gradient(75.54% 98.47% at 78.06% -7.35%, rgba(255, 146, 36, 0.26) 0%, rgba(255, 133, 20, 0.00) 100%), radial-gradient(143.65% 131.98% at 26.08% -25.71%, rgba(76, 116, 255, 0.40) 0%, rgba(38, 92, 253, 0.00) 70.02%), #212531;
}
.home h1{
  background: radial-gradient(50% 253.02% at 50% 124.57%, rgba(85, 121, 246, 0.40) 0%, rgba(237, 166, 94, 0.11) 100%), #FFF;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.home__slogan{
  font-size: 1.5rem;
  color: hsl(var(--clr-text));
  font-weight: 400;
}
.home__description{
  background: radial-gradient(684.29% 375.14% at 26.37% -115.28%, #688AFA 0%, #DEBFEB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
  width: clamp(40ch, 60ch, 60ch);
}
.home__description span{
  font-weight: 700;
}