.intro__hero{
  position: absolute;
  top: 0;
  right: 0;
  left:0;

  height: 100vh;
  background-image: radial-gradient(66.9% 66.9% at 87.6% 3.8%, rgba(242, 141, 191, 0.26) 0%, rgba(242, 141, 191, 0.00) 100%), radial-gradient(77.32% 73.32% at 7.01% 18.43%, rgba(76, 116, 255, 0.40) 0%, rgba(38, 92, 253, 0.00) 100%);
}
.intro{
  position: relative;
  margin-top: 28vh;
}
.intro::before{
  content:"A";
  position: absolute;
  top: 50%;
  right: 8%;
  font-size: 24.23775rem;
  font-weight: 900;
  line-height: 1rem;
  letter-spacing: -0.24238rem;
  mix-blend-mode: overlay;
}
.intro::after{
  content:"*";
  position: absolute;
  top: -45px;
  right: -5%;
  font-size: 24.23775rem;
  font-weight: 900;
  line-height: 1rem;
  mix-blend-mode: overlay;
  letter-spacing: -0.24238rem;
}
.intro__bg-element::before{
  content:"A";
  position: absolute;
  top: 50%;
  right: 8%;
  font-size: 24.23775rem;
  font-weight: 900;
  line-height: 1rem;
  letter-spacing: -0.24238rem;
  mix-blend-mode: overlay;
}
.intro__bg-element::after{
  content:"*";
  position: absolute;
  top: -45px;
  right: -5%;
  font-size: 24.23775rem;
  font-weight: 900;
  line-height: 1rem;
  mix-blend-mode: overlay;
  letter-spacing: -0.24238rem;
}
.intro__h1-wrapper{
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}
.intro__h1{
  font-size: 3.75rem;
  max-width: 80%;
  text-transform: uppercase;
  letter-spacing: -0.0375rem;
}
.intro__p{
  max-width: 60%;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 2.25;
  letter-spacing: 0.035rem;
}
.intro__cta-wrapper{
  display: flex;
  gap: 1.25rem;
  margin-top: 5rem;
}