
.resource__hero{
  position: absolute;
  top: -15px;
  z-index: -2;
}
.resource__hero--2{
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}
.resource h1{
  letter-spacing: -0.08rem;
  font-size: 4rem;
}
.resource__search{
  background: transparent;
  color: var(--clr-text);
  border: none;
  padding: 0.625rem 1.1875rem;
  border-radius: 0.5rem;
  outline: 1px solid hsl(var(--clr-text));
}
.rule{
  background: white;
  mix-blend-mode: overlay;
  height: 2px;
  border-radius: 1rem;
}
/* grid for main resource block*/
.resource__subjects{
  justify-content: start;
  align-items: center;
  /* outline: 1px solid red; */
}
.resource__subjects__filter > *{
  text-align: left;
  align-items: center;
  width: 80%;
  height: max-content;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  /* background: hsla(227, 100%, 59%, 0.2); */
}
.visible{
  display:flex;
}
.resource__subjects__filter span{
  transition: transform 200ms ease-out;
}
.resource__subjects__filter *:hover > span,
.resource__subjects__filter *:focus-visible > span{
  transform: translateX(1.5rem);
  font-weight: 600;
}
.resource__subjects__filter > *::before{
  content: '';
  position: absolute;
  inset-block: 0;
  width: 0.1rem;
  transform: scaleY(0);
  background: hsl(var(--clr-text));
  z-index: -1;
  transition: transform 150ms;
}
.resource__subjects__filter > *:hover::before,
.resource__subjects__filter > *:focus-visible::before{
  transform: scaleY(0.7);
}
.resource__subjects__filter--active > span{
  font-weight: 800;
  transition: opacity 150ms;
  display: inline-flex;
  transform: translateX(1.5rem);
}
.resource__subjects__filter--active:hover > span{
  font-weight: 800;
  opacity: 0.8;
}
.resource__subjects__filter--active::before{
  transform: scaleY(0.7);
}
.resource__subjects--main{
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;  
  align-self: baseline;
  /* overflow-x: scroll;
  scroll-snap-type: x mandatory; */
}
.resource__subjects--main > *{
  /* background-color: hsla(var(--clr-text), 0.1); */
  outline: 1px solid white;
  padding: 1.25rem 1.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
}
.subject__icon{
  font-size: calc(1.25rem + 1vh);
  color: hsl(var(--clr-primary-400));
}
.subject__icon--background{
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1 / 1;
  flex: 1;
  height: max-content;
  
  border-radius: .5rem;
}
.subject{
  gap: 1rem;
  cursor: pointer;
  align-content: flex-start;
  background: hsla(255, 0%, 100%, 0);
  transition: background 100ms ease-in; 
}
.subject:hover{
  background: hsla(255, 0%, 100%, 0.1);
}
.subject:active{
  background: hsla(255, 0%, 100%, 0.2);
}
.subject h3{
  font-size: 1.25em;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.subject p{
  text-align: left;
  font-size: 1em;
  font-weight: 600;
}
.subject__title{
  width: 100%;
  align-items: start;
  flex: 3.5 1;
}
/* @media (max-width:3000px){
  .container{
    width: 80%;
  }
  .resource__subjects{
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 12rem 1fr;
  }
  .resource__subjects__filter{
    gap: 1.5rem;
    align-self: start;
  }
}
@media (max-width:630px){
  .container{
    width: 90%;
  }
  .resource__subjects{
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    row-gap: 1rem;
  }
  .resource__subjects__filter{
    gap: 1rem;
    align-self: start;
  }
  .resource__subjects__filter > *{
    text-align: left;
    align-items: center;
    width: 80%;
    height: max-content;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    background: hsla(227, 100%, 59%, 0.2); 
  }
  */