*, *::before, *::after {
  box-sizing: border-box;
}
*:focus-visible{
  outline: none;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--ff-base);
  color: hsla(var(--clr-text), 1);
  line-height: 1.5;
  background: hsla(var(--clr-background), 1);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}
html{
  font-size: 16px;
}
a{
  text-decoration: none;
  color: hsla(var(--clr-text), 1);
}
html:focus-visible-within {
  scroll-behavior: smooth;
}
ul[role='list'],
li,
ol[role='list'] {
  list-style: none;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.hero{
  z-index: -1;
}