.invisible{display: none;}


.flex-row{display:flex;}
.flex{display: flex; flex-wrap: wrap;}
.between-center{justify-content: space-between; align-items: center;}
.center-center{justify-content: center; align-items: center;}
.flex-col{display:flex; flex-direction: column;}
.grid{display:grid;}
.grid-row{display:grid; grid-auto-flow: row;}
.grid-column{display:grid; grid-auto-flow: column;}
.place-center{align-items:center; justify-content: center;}
.items-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.items-end{align-items: end;}
.upper{text-transform: uppercase;}
.capital{text-transform: capitalize;}
.gap-25{gap: .25rem;}
.gap-50{gap: .5rem;}
.gap-100{gap: 1rem;}
.gap-150{gap: 1.5rem;}
.gap-200{gap: 2rem;}
.gap-300{gap: 3rem;}
.gap-400{gap: 4rem;}
.mt-100{margin-top: 1rem;}
.mt-150{margin-top: 1.5rem;}
.mt-200{margin-top: 2rem;}
.mt-300{margin-top: 3rem;}
.mt-400{margin-top: 4rem;}
.mt-500{margin-top: 5rem;}
.mt-600{margin-top: 6rem;}
.mt-700{margin-top: 7rem;}
.mt-800{margin-top: 8rem;}
.mt-900{margin-top: 9rem;}
.mt-950{margin-top: 9.5rem;}
.mt-1000{margin-top: 10rem;}
.mt-1100{margin-top: 11rem;}
.mt-1150{margin-top: 11.5rem;}
.mt-1200{margin-top: 12rem;}
.mt-1250{margin-top: 12.5rem;}
.w100{width: 100%;}
.text-center{text-align: center;}
.relative{position: relative;}