:root{
  --font-1: 1rem;
  --font-1_5: 1.5rem;
  --font-2: 2rem;
  --font-2_5: 2.5rem;
  --font-3: 3rem;
  --font-7: 7rem;
  --light: 200;
  --regular: 400;
  --bold: 700;
  --black: 900;
  --dark-bg: hsla(225, 20%, 16%, 1);
  --light: #FFFFFF;
  --dark: #292D3E;
  --dark-primary: hsla(227, 90%, 65%, 1);
  --dark-secondary: hsla(230, 35%, 25%, 1);
  --dark-ascent: hsla(30, 80%, 65%, 1);
  --dark-disable: hsla(225, 25%, 30%, 1);
  --dark-gradient-1: linear-gradient(115deg, #5579F6 0%, #E85EC0 100%);
  --dark-gradient-2: linear-gradient(135deg, #688AFA 0%, #DEBFEB 100%);
  --dark-gradient-3: linear-gradient(115deg, #5579F6 0%, #19E5A8 100%);
}
/* CSS RESET FOR RELY ON US*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: Aileron, Inter, "Space Mono", sans-serif;
}
body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--dark-bg);
  text-rendering: optimizeSpeed;
  color: var(--light);
}
a{
  text-decoration: none;
  color: var(--light);
}
html:focus-within {
  scroll-behavior: smooth;
}
ul[role='list'],
li,
ol[role='list'] {
  list-style: none;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Setup all font */
@font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Light.woff);font-weight: 300;font-style: normal;}
@font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Light-Italic.woff);font-weight: 300;font-style: italic;}
@font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Regular.woff);font-weight: normal;font-style: normal;}
@font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Bold.woff);font-weight: bold;font-style: normal;}
@font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Bold-Italic.woff);font-weight: bold;font-style: italic;}
@font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Black.woff);font-weight: 900;font-style: normal;}
@font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Black-Italic.woff);font-weight: bold;font-style: italic;}
/* Utility Class */
.flex-row{display:flex;}
.flex-col{display:flex; flex-direction: column;}
.grid{display:grid;}
.place-center{align-items:center; justify-content: center;}
.items-center{align-items: center;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.upper{text-transform: uppercase;}
.capital{text-transform: capitalize;}
.gap-_25{gap: .25rem;}
.gap-_5{gap: .5rem;}
.gap-1{gap: 1rem;}
.gap-1_5{gap: 1.5rem;}
.gap-2{gap: 2rem;}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mt-3{margin-top: 3rem;}
.mt-4{margin-top: 4rem;}
.mt-5{margin-top: 5rem;}
.mt-6{margin-top: 6rem;}
.mt-7{margin-top: 7rem;}
.mt-8{margin-top: 8rem;}
.mt-9{margin-top: 9rem;}
.mt-10{margin-top: 10rem;}
.mt-11{margin-top: 11rem;}
.mt-11_5{margin-top: 11.5rem;}
.mt-12{margin-top: 12rem;}
.w-100{width: 100%;}
.font-1_5{font-size:var(--font-1_5);}
.text-center{text-align: center;}
/* General */
header{
  position: fixed;
  top: 1.5rem;
  left: 6rem;
  right: 6rem;
}
header nav li{
  background: transparent;
  padding: .25rem 1rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  cursor: pointer;
}
header nav li:hover{
  background: hsla(220, 50%, 75%, .1);
}
#active-option{
  background: hsla(220, 50%, 75%, .15);
  margin-inline: .25rem;
  font-weight: var(--bold);
}
/* Home */
.home-gradient{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  max-height: 48.5rem;
  min-height: 48.5rem;
  background: radial-gradient(75.54% 98.47% at 78.06% -7.35%, rgba(255, 146, 36, 0.26) 0%, rgba(255, 133, 20, 0.00) 100%), radial-gradient(143.65% 131.98% at 26.08% -25.71%, rgba(76, 116, 255, 0.40) 0%, rgba(38, 92, 253, 0.00) 70.02%), #212531;
}
.home-gradient main h1{
  font-size: var(--font-7);
  font-weight: var(--black);
}
.relyonus-description{
  background: radial-gradient(684.29% 375.14% at 26.37% -115.28%, #688AFA 0%, #DEBFEB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 35rem;
  max-width: 34.125rem;
}
.relyonus-description span{
  font-weight: var(--bold);

}
footer{
  font-size: var(--font-1);
  color: hsl(229, 35%, 90%);
}
