/* Setting Up variable */
:root{
  /* Color */
  --clr-text: 0, 0%, 100%;
  --clr-background: 225, 20%, 16%;
  --clr-primary-200: 220, 80%, 75%;
  --clr-primary-400: 227, 90%, 65%;
  --clr-primary-700: 227, 50%, 35%;
  --clr-secondary: 230, 35%, 25%;
  --clr-accent: 30, 80%, 65%;
  --clr-disable:225, 25%, 30%;
  --clr-enable: 197, 80%, 65%;
  --clr-warning: 330, 79%, 75%;
  --clr-success: 162, 80%, 50%;
  --clr-gradient-bg: hsla(227, 90%, 65%, 1), hsla(162, 80%, 50%, 1);
  --clr-gradient-bp: hsla(227, 90%, 65%, 1), hsla(317, 75%, 64%, 1);
  --clr-gradient-cc: hsla(226, 94%, 69%, 1), hsla(282, 52%, 84%, 1);
  --clr-gradient-glow: hsla(227, 100%, 59%, 1), hsla(208, 26%, 21%, 0);
  /* Typography */
  --ff-base: "Aileron", "Inter", sans-serif;
  --ff-accent: "Space Mono";
  --fs-small: clamp(0.8rem, 0.98rem + 0.11vw, 1.25rem);
  --fs-large: clamp(1.25rem, 1.34rem + 0.48vw, 1.70rem);
}
/* CSS RESET FOR RELY ON US*/
  *, *::before, *::after {
    box-sizing: border-box;
  }
  *:focus-visible{
    outline: none;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: var(--ff-base);
    font-size: var(--fs-small);
    color: hsla(var(--clr-text), 1);
    line-height: 1.5;
    background: hsla(var(--clr-background), 1);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
  }
  a{
    text-decoration: none;
    color: hsla(var(--clr-text), 1);
  }
  html:focus-visible-within {
    scroll-behavior: smooth;
  }
  ul[role='list'],
  li,
  ol[role='list'] {
    list-style: none;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
/* Setup all font */
  @font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Light.woff);font-weight: 300;font-style: normal;}
  @font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Light-Italic.woff);font-weight: 300;font-style: italic;}
  @font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Regular.woff);font-weight: normal;font-style: normal;}
  @font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Bold.woff);font-weight: bold;font-style: normal;}
  @font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Bold-Italic.woff);font-weight: bold;font-style: italic;}
  @font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Black.woff);font-weight: 900;font-style: normal;}
  @font-face {font-family: "Aileron";src: url(/brand/font/Aileron-Black-Italic.woff);font-weight: bold;font-style: italic;}
/* Utility Class */
  .invisible{display: none;}
  .flex-row{display:flex;}
  .flex{display: flex; flex-wrap: wrap;}
  .between-center{justify-content: space-between; align-items: center;}
  .center-center{justify-content: center; align-items: center;}
  .flex-col{display:flex; flex-direction: column;}
  .grid{display:grid;}
  .grid-row{display:grid; grid-auto-flow: row;}
  .grid-column{display:grid; grid-auto-flow: column;}
  .place-center{align-items:center; justify-content: center;}
  .items-center{align-items: center;}
  .justify-center{justify-content: center;}
  .justify-between{justify-content: space-between;}
  .items-end{align-items: end;}
  .upper{text-transform: uppercase;}
  .capital{text-transform: capitalize;}
  .gap-25{gap: .25rem;}
  .gap-50{gap: .5rem;}
  .gap-100{gap: 1rem;}
  .gap-150{gap: 1.5rem;}
  .gap-200{gap: 2rem;}
  .gap-300{gap: 3rem;}
  .gap-400{gap: 4rem;}
  .mt-100{margin-top: 1rem;}
  .mt-150{margin-top: 1.5rem;}
  .mt-200{margin-top: 2rem;}
  .mt-300{margin-top: 3rem;}
  .mt-400{margin-top: 4rem;}
  .mt-500{margin-top: 5rem;}
  .mt-600{margin-top: 6rem;}
  .mt-700{margin-top: 7rem;}
  .mt-800{margin-top: 8rem;}
  .mt-900{margin-top: 9rem;}
  .mt-950{margin-top: 9.5rem;}
  .mt-1000{margin-top: 10rem;}
  .mt-1100{margin-top: 11rem;}
  .mt-1150{margin-top: 11.5rem;}
  .mt-1200{margin-top: 12rem;}
  .mt-1250{margin-top: 12.5rem;}
  .w100{width: 100%;}
  .text-center{text-align: center;}
  .relative{position: relative;}
/* General OUTLINE ALL */
* {
  /* outline: 2px solid red; */
}
.container{
  max-width: 3000px;
  width: 90%;
  align-self: center;
  margin-inline: auto;
}
.hero__full-container{
  width: minmax(100%, 500%);
  align-self: center;
  margin-inline: auto;
}
@media (max-width:3000px){
  .container{
    width: 80%;
  }
  .resource__subjects{
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: 12rem 1fr;
  }
  .resource__subjects__filter{
    gap: 1.5rem;
    align-self: start;
  }
}
@media (max-width:630px){
  .container{
    width: 90%;
  }
  .resource__subjects{
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    row-gap: 1rem;
  }
  .resource__subjects__filter{
    gap: 1rem;
    align-self: start;
  }
  .resource__subjects__filter > *{
    text-align: left;
    align-items: center;
    width: 80%;
    height: max-content;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    /* background: hsla(227, 100%, 59%, 0.2); */
  }
}
  h1{
    font-size: 7rem;
    line-height: 1.1; 
    font-weight: 900;
  }
  h2{
    font-size: 6rem;
    line-height: 1.2;
  }
  h3{
    font-size: 5rem;
    line-height: 1.3;
  }
  h4{
    font-size: 4rem;
    line-height: 1.35;
  }
/* Component */
  .btn{
    display: inline-flex;
    background: transparent;
    cursor: pointer;
    padding: var(--padding);
    border-radius: var(--border-radius);
  }
  .btn--option{
    --padding: .25em 1em;
    --border-radius: .5em;
    background: transparent;
    transition: background 0.2s;
    cursor: pointer;
  }
  .btn--option:hover,
  .btn--option:focus-visible{
    background: hsla(220, 50%, 75%, .1);
    outline: none;
  }
  .btn--option-active{
    margin-inline: .25rem;
    font-weight: 700;
    background: hsla(220, 50%, 75%, .1);
  }
  .btn--accent{
    --padding: .25em 1em;
    --border-radius: 0.375em;
    background: hsla(var(--clr-accent), 0.85);
    color: hsl(var(--clr-background));
    border: none;
    transition: all .2s;
    cursor:pointer;
  }
  .btn--accent:hover, .btn--accent:focus-visible{
    outline: none;
    background: hsla(var(--clr-accent), 1);
  }
  .btn--filter{
    cursor: pointer;
    position: relative;
  }
  .btn--filter::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1rem;
    background: white;

    transform:scaleX(0);
    transition: transform 250ms;
  }
  .btn--filter:hover::before,
  .btn--filter:focus-visible::before{
    transform:scaleX(1);
  }
  .btn--filter-active::before{
    transform:scaleX(1);
    opacity: .4;
  }
  .btn--filter-active{
    font-weight: 600;
  }
  .btn--filter-active:hover::before,
  .btn--filter-active:focus-visible::before{
    opacity: .7;
  }

  header{
    position: absolute;
    top: 1.5rem;
  }
  footer{
    color: hsl(229, 35%, 90%);
  }
/* Home */
  .home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-height: 48.5rem;
    min-height: 48.5rem;
    background: radial-gradient(75.54% 98.47% at 78.06% -7.35%, rgba(255, 146, 36, 0.26) 0%, rgba(255, 133, 20, 0.00) 100%), radial-gradient(143.65% 131.98% at 26.08% -25.71%, rgba(76, 116, 255, 0.40) 0%, rgba(38, 92, 253, 0.00) 70.02%), #212531;
  }
  .home h1{
    background: radial-gradient(50% 253.02% at 50% 124.57%, rgba(85, 121, 246, 0.40) 0%, rgba(237, 166, 94, 0.11) 100%), #FFF;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
  }
  .home__slogan{
    font-size: 1.5rem;
    color: hsl(var(--clr-text));
    font-weight: 400;
  }
  .home__description{
    background: radial-gradient(684.29% 375.14% at 26.37% -115.28%, #688AFA 0%, #DEBFEB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    width: clamp(40ch, 60ch, 60ch);
  }
  .home__description span{
    font-weight: 700;
  }
/* Resource */
.resource__hero{
  position: absolute;
  top: -15px;
  z-index: -2;
}
.resource__hero--2{
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}
.resource h1{
  letter-spacing: -0.08rem;
  font-size: 4rem;
}
.resource__search{
  background: transparent;
  color: var(--clr-text);
  border: none;
  padding: 0.625rem 1.1875rem;
  border-radius: 0.5rem;
  outline: 1px solid hsl(var(--clr-text));
}
.rule{
  background: white;
  mix-blend-mode: overlay;
  height: 2px;
  border-radius: 1rem;
}
/* grid for main resource block*/
.resource__subjects{
  justify-content: start;
  align-items: center;
  /* outline: 1px solid red; */
}
.resource__subjects__filter > *{
  text-align: left;
  align-items: center;
  width: 80%;
  height: max-content;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  /* background: hsla(227, 100%, 59%, 0.2); */
}
.visible{
  display:flex;
}
.resource__subjects__filter span{
  transition: transform 200ms ease-out;
}
.resource__subjects__filter *:hover > span,
.resource__subjects__filter *:focus-visible > span{
  transform: translateX(1.5rem);
  font-weight: 600;
}
.resource__subjects__filter > *::before{
  content: '';
  position: absolute;
  inset-block: 0;
  width: 0.1rem;
  transform: scaleY(0);
  background: hsl(var(--clr-text));
  z-index: -1;
  transition: transform 150ms;
}
.resource__subjects__filter > *:hover::before,
.resource__subjects__filter > *:focus-visible::before{
  transform: scaleY(0.7);
}
.resource__subjects__filter--active > span{
  font-weight: 800;
  transition: opacity 150ms;
  display: inline-flex;
  transform: translateX(1.5rem);
}
.resource__subjects__filter--active:hover > span{
  font-weight: 800;
  opacity: 0.8;
}
.resource__subjects__filter--active::before{
  transform: scaleY(0.7);
}
.resource__subjects--main{
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;  
  align-self: baseline;
  /* overflow-x: scroll;
  scroll-snap-type: x mandatory; */
}
.resource__subjects--main > *{
  /* background-color: hsla(var(--clr-text), 0.1); */
  display: flex;
  outline: 1px solid white;
  padding: 1.25rem 1.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
}
.subject__icon{
  font-size: calc(1.25rem + 1vh);
  color: hsl(var(--clr-primary-400));
}
.subject__icon--background{
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1 / 1;
  flex: 1;
  height: max-content;
  
  border-radius: .5rem;
}
.subject{
  gap: 1rem;
  align-content: flex-start;
}
.subject h3{
  font-size: 1.25em;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.subject p{
  text-align: left;
  font-size: 1em;
  font-weight: 600;
}
.subject__title{
  width: 100%;
  align-items: start;
  flex: 3.5 1;
}