.btn{
  cursor: pointer;
  font-weight: 700;
  border-radius: 0.3125rem;
  transition: opacity 150ms ease-in;
}
.btn:hover, .btn:focus-visible{
  opacity: .8;
}

.btn-gradient--primary{
  padding: 0.3rem 0.625rem;
  background: linear-gradient(93deg, #5579F6 0%, #E85EC0 100%);
}
.btn--primary{
  padding: 0.5rem 1.5rem;
  background: hsl(var(--clr-primary-400));
}
.btn--primary-100{
  padding: 0.5rem 1.5rem;
  background: #3F4A71;
}
.btn--accent{
  padding: 0.5rem 1.5rem;
  background: #E85EC0;
}

.btn--secondary{position: relative;}
.btn--secondary:before{
  content:'';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  border-radius: 1px;
}
