.header{
  margin-top: 1.5rem;
  display: flex;
  padding-inline: 3rem;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: flex;
  align-items: center;
  gap: 2.5rem 
}
/* logo */
.nav__logo{
  width: 2.9375rem;
  height: 2rem;
  transition: opacity 150ms ease-out;
}
.nav__logo:hover, .nav__logo:focus-visible{
  opacity: 0.8;
}
.nav__logo:active{
  opacity: 0.6;
}
/* link */
.nav-links-container{
  display: flex;
  gap: 2em;
  letter-spacing: 0.02rem; 
}
.nav__link--active{
  font-weight: 700;
  color: #f081d0 ;
}
.nav__link, .nav__link--active{
  display: flex;
  gap: .5rem;
  transition: opacity 150ms ease-in-out;
}
.nav__link:hover, .nav__link--active:hover{
  opacity: .6;

}
.nav__link:hover .nav__links-arrow{
  transform: translateY(2px);
}

.nav__links-arrow{
  display: inline-block;
}
.nav__links-arrow:hover{

}
/* user */

.header-user-container{
  display: flex;
  gap: 1.25rem;
  align-items: center;
}