.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 1.5rem;
  left: 0;
  right: 0;
}
.header__item-right{
  display: flex;
  align-items: center;
  gap: 2rem;

  font-size: 1rem;
  text-transform: uppercase; 
}
.header__link-logo{
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.header__link-logo:hover,
.header__link-logo:focus-visible{
  opacity: .5;
}
.header__link{
  position: relative;
}
.header__link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  z-index: 2;
  height: 3px;
  width: 10%;
  background: hsl(var(--clr-text));
  border-radius: 2px;
  transform: scaleX(0);
  
  transition: width 200ms ease-out;
}
.header__link--active::before,
.header__link:hover::before,
.header__link:focus-visible::before{
  width: 100%;
  transform: scaleX(1);

}
.header__link:active{
  opacity: .75;
}
footer{
  margin-top:40vh;
  color: hsl(229, 35%, 90%);
}