@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --Overlay-Gradient: linear-gradient(92deg, #6387FA 1.31%, #E2C0E9 95.79%);
  --Subtle-Light-Gradient: radial-gradient(290.31% 351.8% at 150.42% 375%, rgba(255, 133, 20, 0.50) 0%, rgba(255, 133, 20, 0.00) 100%), radial-gradient(335.2% 393.68% at -44.85% -119.44%, rgba(38, 92, 253, 0.30) 0%, rgba(38, 92, 253, 0.00) 100%), #FFF;
}

@font-face {
  font-family: "Aileron";
  src: url(./branding/font/Aileron-Light.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url(./branding/font/Aileron-Light-Italic.woff);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Aileron";
  src: url(./branding/font/Aileron-Regular.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url(./branding/font/Aileron-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url(./branding/font/Aileron-Bold-Italic.woff);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Aileron";
  src: url(./branding/font/Aileron-Black.woff);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url(./branding/font/Aileron-Black-Italic.woff);
  font-weight: bold;
  font-style: italic;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-family: Aileron, Inter, "Space Mono", sans-serif;

}
html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  background: radial-gradient(83.31% 151.8% at 105.8% 4.1%, rgba(255, 133, 20, 0.32) 0%, rgba(255, 133, 20, 0.00) 100%), radial-gradient(88.5% 101.99% at 35.9% -14.4%, rgba(38, 92, 253, 0.40) 0%, rgba(38, 92, 253, 0.00) 100%), #161618;
  overflow: hidden;
  padding: 1.6em 10.4em 0 10.4em;
}
heading-nav a button{
  color: radial-gradient(290.31% 351.8% at 150.42% 375%, rgba(255, 133, 20, 0.50) 0%, rgba(255, 133, 20, 0.00) 100%), radial-gradient(335.2% 393.68% at -44.85% -119.44%, rgba(38, 92, 253, 0.30) 0%, rgba(38, 92, 253, 0.00) 100%), #FFF;
  text-align: center;
  font-family: Aileron;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.48px;
  padding: 10px 30px;
  border-radius: 8px;
  border: 2px solid;
  border-image: radial-gradient(290.31% 351.8% at 150.42% 375%, rgba(255, 133, 20, 0.50) 0%, rgba(255, 133, 20, 0.00) 100%), radial-gradient(335.2% 393.68% at -44.85% -119.44%, rgba(38, 92, 253, 0.30) 0%, rgba(38, 92, 253, 0.00) 100%), #FFF;
  transition: all 0.15s;
}
heading-nav a button:hover{
  background: rgba(22, 22, 24, 0.3);
  color: linear-gradient(92deg, #6387FA 1.31%, #E2C0E9 95.79%);
}
main left-col a{
  margin-left: 8px;
}
main left-col a button{
  background: var(--Overlay-Gradient, linear-gradient(92deg, #6387FA 1.31%, #E2C0E9 95.79%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Aileron;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding: 10px 30px;
  border-radius: 8px;
  border: 3px solid #4F78F3;
  transition: all 0.15s;
}
main left-col a button:hover{
  background: rgba(71, 91, 248, 0.1);
  color: #4F78F3;
  background-clip: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: #4F78F3;
}
#primary{
  background: #4F78F3;
  border: none;
}
#primary:hover{
  background: rgba(55, 82, 218, 0.8);
}
main left-col{
  max-width: 650px;
  width: 600px;
}
main left-col h1{
  max-width: 600px;
  font-size: 98px;
  font-weight: 900;
  line-height: 105.6%; /* 103.488px */
  letter-spacing: -0.98px;
}
main left-col p{
  margin-left: 8px;
  max-width: 570px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: -0.24px;
}
main left-col h1, p{
  background: var(--Overlay-Gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}